<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.itwillbs.mapper.BoardMapper">
  
  	<resultMap type="com.itwillbs.domain.BoardVO" id="board">
  		<!-- 컬럼 'bno' 에 해당하는 vo의 'bno' -->
  		<!-- 프로퍼티명과 컬러명이 동일할때 생략가능 -->
  		<!-- 디비 컬럼과 도메인 객체를 매핑 -->
  		<result property="bno" column="bno"/> 
  		<result property="title" column="title"/> 
  		<result property="content" column="content"/> 
  		<result property="writer" column="writer"/> 
  		<result property="regdate" column="regdate"/> 
  		<result property="viewcnt" column="viewcnt"/> 
  	</resultMap>
  	
  	<!-- 글쓰기 -->
  	<insert id="insertBoard">
  		insert into tbl_board(title,content,writer) values(#{title},#{content},#{writer})
  	</insert>
  	
  	<!-- 모든 글 조회(ALL) -->
  	<select id="listAll" resultType="BoardVO">
  		select * from tbl_board
  	</select>
  	
  	<!-- 특정 글 조회  -->
  	<select id="getBoard" resultType="BoardVO">
  		select * from tbl_board where bno=#{bno}
  	</select>
  	
  	<!-- 특정 글 수정 -->
  	<update id="updateBoard">
  		update tbl_board set title=#{title}, content=#{content} where bno=#{bno}
  	</update>
  	
  	<!-- 특정 글 조회수 1증가 -->
  	<update id="updateViewCnt">
  		update tbl_board set viewcnt=viewcnt+1 where bno = #{bno}
  	</update>
  	
  	<!-- 특정 글 정보 삭제 -->
  	<delete id="deleteBoard">
  		delete from tbl_board where bno = #{bno}
  	</delete>
  	
  	<!-- 글 목록 조회(page)-->
  	<select id="listPage" resultType="BoardVO" resultMap="board">
  		select * from tbl_board
<!--   		order by bno desc,regdate desc -->
<!--   		limit #{page},#{pageSize} -->
  		limit #{startPage},#{pageSize}
  	</select>
  	
  	<!-- 전체 글 개수 조회  -->
	<select id="countBoard" resultType="int">
		<!-- 태그와 > 구분한다 -->
		<![CDATA[
			select count(*) from tbl_board 
			where bno > 0
	 	]]>
	</select>  	
  	
  	
  	
  </mapper>