<?xml version="1.0" encoding="UTF-8"?>
<!-- memberMapper.xml -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.itwillbs.mapper.MemberMapper">
  	
  	<!-- 회원가입 -->
  	<insert id="insertMember">
  		insert into tbl_member(userid,userpw,username,useremail)
  		values(#{userid},#{userpw},#{username},#{useremail})
  	</insert>
  	
  	<!-- 로그인 -->
  	<select id="loginMember" resultType="com.itwillbs.domain.MemberVO">
  		select * from tbl_member where userid=#{userid} and userpw=#{userpw}
  	</select>
  	
  
  
  </mapper>